/build/bin/
/build/release/
/build/appicon.png
/frontend/dist/*
!/frontend/dist/.gitkeep
/frontend/node_modules/
/frontend/wailsjs/
/frontend/package.json.md5
*.log
*.msi
*.exe
!build/windows/*.manifest
